.projetosSection {
    min-height: 100vh;
}

.projetosSection h2 {
    text-align: center;
    font-size: clamp(1.2rem, 4vw, 4rem);
    text-transform: uppercase;
    font-family: var(--fontTitulo);
    margin: .5em 0;
}

.projetosContainer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(450px,90vw), 1fr));
    justify-content: center;
    background-color: var(--corCard);
    gap: 10px;
    width: 100%;
    max-width: 90vw;
    margin: 0 auto;
    padding: 1em;
}

.projeto {
    display: flex;
    flex-direction: column;
    gap: .5em;
    background-color: var(--corCard);
    transition: all .5s;
    padding: 0.5em;
    cursor: pointer;
}

.projeto:hover {
    scale: 1;
    transform: translate(-.5em, -.5em);
    box-shadow: .5em .5em 0 #00000011, .5em .5em 5px #00000027, inset 5px 5px 10px #fff;
}

.dark .projeto,
.dark .projetosContainer {
    background-color: var(--corCardDark);
}

.dark .projeto:hover {
    box-shadow: .5em .5em 0 #0000005b, .5em .5em 5px #00000067, inset 5px 5px 10px #cccccc10;
}

.numberProjeto {
    position: relative;
    z-index: 0;
    width: fit-content;
    font-family: var(--fontTitulo);
    margin-bottom: 10px;
    font-size: 1.2em;
}

.numberProjeto::before {
    content: "";
    position: absolute;
    bottom: 0;
    z-index: 0;
    display: block;
    width: 100%;
    height: 3px;
    border-radius: 3px;
    background-color: var(--corTema);
}

.projeto figure img {
    width: 100%;
    aspect-ratio: 16/9;
    object-fit: cover;
}

.textContainerProjeto p {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 1.5;
}

.tecnologiasContainerProjeto {
    display: flex;
    gap: .5em;
}

.tec-projeto {
    padding: 4px 8px;
    border-radius: 5px;
    border: 1px solid #dddddd;
}