.timeline-item {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: "period" "instituicao" "cards";
    align-items: center;
    align-content: center;
    text-align: left;

    background-color: var(--corCard);
    margin: 1em 0;
}

.timeline-item-instituicao,
.timeline-item-cards {
    display: flex;
    flex-direction: column;
    gap: 1em;
    margin: auto;
    border-radius: 15px;
    padding: 1em;
}

.timeline-item-instituicao {
    align-items: start;
}


.timeline-item-instituicao .logoIcon {
    width: min(120px, 20%);
    aspect-ratio: 1/1;
    border-radius: 5px;
}

.timeline-item-titulo {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 1em;
}

.timeline-item-titulo span h3 {
    font-size: clamp(1.4rem, 4vw, 1.8rem);
}

.timeline-item-titulo nav {
    display: flex;
    margin-top: 0.5em;
    gap: .5em;
}

.timeline-item-titulo nav a {
    all: unset;
    font-size: clamp(1.4rem, 4vw, 1.8rem);
    cursor: pointer;
    opacity: .4;
    transition: .5s;
}

.timeline-item-titulo nav a:hover {
    color: var(--corTema);
    opacity: 1;
}

.timeline-item-instituicao>p {
    font-size: clamp(.9rem, 2vw, 1.2rem);
}

.skills-timeline {
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
    gap: .5em;
}

.timeline-item-period {
    grid-area: period;
    position: relative;

    display: flex;
    align-items: center;

    height: fit-content;
    width: fit-content;
    text-wrap: nowrap;

    transform: translateY(-50%);
    scale: 1;
}

.period-date {
    font-weight: bold;
    background-color: var(--corCard);
    box-shadow: 5px 5px 10px #00000021;

    padding: 4px 8px;
    padding-left: 1.3rem;
    border-radius: 0 5px 5px 0;

    overflow: hidden;
}

.period-bullet {
    content: "";
    position: absolute;
    display: block;
    width: 1.3rem;
    aspect-ratio: 1/1;
    background-color: var(--corTema);
    background-image: radial-gradient(#fff, var(--corTema));
    box-shadow: 0 0 20px var(--corTema);

    border-radius: 5%;
    transform: translate(-50%) rotate(45deg);
}

.timeline-item-cards {
    grid-area: cards;
    align-items: center;
}

.slide-content-wrapper {
    display: flex;
    flex-direction: column;
    gap: 1em;
}


.slide-content-wrapper h4 {
    font-size: clamp(1.2rem, 3vw, 1.6rem);
}

.slide-content-wrapper p {
    margin-top: 5px;
    font-size: clamp(1rem, 2vw, 1.2rem);
}

.slide-content-wrapper figure {
    border-radius: 5px;
    overflow: hidden;
    aspect-ratio: 16/9;
    width: 100%;
}

.slide-content-wrapper figure img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.timeline-item-cards .slide-controls {
    display: flex;
    gap: .5em;
    justify-content: center;
    align-items: center;
}

.timeline-item-cards .slide-controls button {
    display: grid;
    place-content: center;
    font-size: 1.5rem;

    padding: 10px;
    font-weight: bold;
    border-radius: 50%;
    border: 1px solid transparent;
    transition: .5s;
}

.timeline-item-cards .slide-controls button:hover {
    border: 1px solid var(--corCard);
}

@media (min-width: 1200px) {
    .timeline-item {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "period period" "instituicao cards";
    }
}

@media (min-width: 1600px) {
    .timeline-item {
        display: grid;
        grid-template-columns: 1fr auto 1fr;
        grid-template-areas: "cards period instituicao";
        background-color: transparent;
    }

    .timeline-item:nth-child(even) {
        grid-template-areas: "instituicao period cards";
    }

    .timeline-item-instituicao {
        background-color: var(--corCard);
    }

    .timeline-item-instituicao,
    .timeline-item-cards {
        width: min(650px, 100%);
    }

    .timeline-item-period {
        justify-content: center;
        background-color: var(--corTema);
        background-image: linear-gradient(-45deg, #9025CB, #F350C2, #fff);
        color: #fff;
        box-shadow: 0 0 10px #ffffff7c, 0 0 15px #F350C2, 0 0 20px #9025CB;
        padding: 8px 16px;
        scale: 1;
        border-radius: 15px;
    }

    .period-date {
        background-color: transparent;
        box-shadow: none;
        padding: 0;
        border-radius: 0;
    }

    .period-bullet {
        display: none;
    }

    .timeline-item-cards {
        backdrop-filter: blur(12px);
        background-image: linear-gradient(45deg, #ffffff15, #24242415);
        border: .5px solid #fff;
        box-shadow: inset -5px 0 10px #ffffffa2;
    }


    .timeline-item-titulo {
        display: flex;
        flex-direction: row;
        justify-content: start;
        align-items: center;
        gap: 1em;
    }

}