.aboutSection {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1em;
    padding: 1em;
    min-height: 100dvh;
}

.figure {
    width: min(700px, 100%);
    position: relative;
    mask-image: linear-gradient(to bottom, black 80%, transparent 100%);
    -webkit-mask-image: linear-gradient(to bottom, black 80%, transparent 100%);
    overflow: hidden;
}

.figure * {
    user-select: none
}

.figure img {
    max-width: 100%;
    filter: drop-shadow(2px 2px 5px #00000052);
    position: relative;
    z-index: 2;
}

.figure svg {
    max-width: 100%;
}

.techRing {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 120%;
    height: 120%;
    z-index: 1;

    filter: drop-shadow(0 0 8px #fff);

    animation: spinRing 10s linear infinite;
}

@keyframes spinRing {
    from {
        transform: translate(-50%, -50%) rotate(0deg);
    }

    to {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

.article {
    display: flex;
    flex-direction: column;
    gap: 1em;
    width: min(700px, 100%);
}

.aboutSection h1 {
    font-family: var(--fontTitulo);
    font-size: clamp(2rem, 3.5vw, 5rem);
}

.aboutSection p {
    font-size: clamp(1rem, 2vw, 1.2rem);
}

.aboutSection a {
    width: fit-content;
    text-decoration: none;
}

.downloadCv {
    border: none;
    color: #fff;
    padding: 10px;
    border-radius: 25px;
    font-family: var(--fontTitulo);
    font-size: 1.2em;
}

.cardAbout {
    position: absolute;

    font-size: 1.2rem;

    padding: 8px 14px;
    border-radius: 12px;
    color: #fff;
    text-shadow: 1px 1px 2px #000000bb;
    font-weight: bolder;
    white-space: nowrap;
    animation: float 3s ease-in-out infinite;
}

.cardAbout:nth-of-type(1) {
    bottom: 40%;
    left: 0%;
    scale: 1;
    animation-delay: 0s;
}

.cardAbout:nth-of-type(2) {
    bottom: 25%;
    right: 0%;
    font-size: clamp(1rem, 2vw, 1.2rem);
    animation-delay: 0.5s;
    z-index: 2;
}

.cardAbout:nth-of-type(3) {
    bottom: 10%;
    left: 25%;
    font-size: clamp(1.1rem, 2vw, 1.5rem);
    animation-delay: 0.8s;
    z-index: 3;
}

@keyframes float {
    0% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(-7px);
    }

    100% {
        transform: translateY(0px);
    }
}

@media (max-width: 768px) {
    .article {
        align-items: center;
    }
}