#homeSection {
    background-color: #eee;
    background-image: var(--noise),linear-gradient(118deg, #81868C, #A2A5AC);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: relative;
    color: #fff;
}

.dark #homeSection{
        background-image: var(--noise),linear-gradient(118deg, #000000, #2d2d2d);
}

#homeSection h1 {
    text-transform: uppercase;
    font-size: clamp(3rem, 12vw, 15rem);
    font-family: var(--fontTitulo);
    position: relative;
    z-index: 1;
    pointer-events: none;
    text-shadow: 5px 5px 10px #00000050;
}

#homeSection h2 {
    font-size: clamp(1.2rem, 4vw, 4rem);
    position: relative;
    z-index: 1;
    text-align: center;
    pointer-events: none;
    text-shadow: 5px 5px 10px #00000050;
}

#homeSection canvas {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 0;
}

#homeFooter {
    z-index: 1;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    justify-content: center;
    align-items: center;
    background-color: #0000005e;

    align-items: center;
    backdrop-filter: blur(10px);
    padding: 15px;
    row-gap: 15px;
}

#homeFooter div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    min-height: calc(10vh - 15px);
    gap: 15px;
}

#homeFooter span {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

#homeFooter .stat-item dd {
    font-family: var(--fontTitulo);
    font-size: 2.5em;
}

#homeFooter .stat-item .icon-box {
    font-size: clamp(1.2rem, 3vw, 3rem);
}

#homeFooter div:not(:last-child) {
    border-right: 2px solid #fff;
}

#contatoItem a {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: #fff;
}

#contatoItem a h4 {
    all: unset;
    font-family: var(--fontTitulo);
    font-size: 2.5em;
}

#contatoItem .icon-contato {
    display: block;
    border: 2px solid #fff;
    font-size: clamp(1.5rem, 3vw, 2rem);
    border-radius: 50%;
    padding: 15px;
    height: 100%;
    aspect-ratio: 1/1;
}

#redesSociais {
    display: flex;
    width: 100%;
    justify-content: space-around;
}

#redesSociais a{
    color: #fff;
    font-size: clamp(2rem, 3vw, 3rem);
}