.site-header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: .5rem 1rem;
  color:#fff;
  text-shadow: 2px 2px 2px #0000009f;
}

.logo {
  font-weight: bold;
  font-size: 1.5rem;
}
.site-header {
  background: transparent;
  transition: all 0.3s;
}

body.scrolled .site-header {
  backdrop-filter: blur(15px);
  background-image: linear-gradient( #d4d4d43a, #94949442);
  border-bottom: 2px solid #fff;
}
body.scrolled.dark .site-header {
  backdrop-filter: blur(15px);
  background-image: linear-gradient( #0000003a, #00000042);
  border-bottom: 2px solid #fff;
}

.site-header {
  position: fixed;
  top: 0;
  width: 100%;
  transition: transform 0.3s ease;
}

.site-header.hide {
  transform: translateY(-100%);
}

.site-header.show {
  transform: translateY(0);
}

/* --- MOBILE (Padrão) --- */

.menu {
  position: fixed;
  top: 0%;
  right: -100%;
  width: 70%;
  height: 100vh;
  background: var(--corFundo);
  display: flex;
  flex-direction: column;
  padding-top: 5rem;
  transition: right 0.3s ease-in-out;
  box-shadow: -5px 0 15px rgba(0, 0, 0, 0.1);
}

.site-header.open .menu {
  right: 0;
}

.nav {
  padding: 1em;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 2rem;
}

.nav a {
  text-decoration: none;
  color: var(--corTexto);
  font-size: 1.2rem;
  font-weight: 500;
  border-bottom: 1px solid #ffffff57;
}

/* Botões Gerais */
.header-actions {
  display: flex;
  align-items: center;
  gap: 1rem;
  z-index: 1001;
  /* Garante que fique acima do menu deslizante */
}

button {
  cursor: pointer;
  border: none;
  background: none;
  color: var(--corTexto);
}

.menu-toggle {
  font-size: 1.8rem;
}

.mobile-theme-btn {
  font-size: 1.2rem;
  margin-top: 1rem;
}

.desktop-theme-btn {
  display: none;
}


/* --- DESKTOP --- */
@media (min-width: 768px) {

  .menu-toggle {
    display: none;
  }

  /*Menu vira barra horizontal */
  .menu {
    position: static;
    width: auto;
    height: auto;
    background: transparent;
    padding: 0;
    box-shadow: none;
    flex-direction: row;
  }

  .nav {
    flex-direction: row;
    gap: 1.5rem;
  }

  .nav a {
    border: none;
  }

  .mobile-theme-btn {
    display: none;
  }

  .desktop-theme-btn {
    display: block;
    font-size: 1.5rem;
  }
}