.site-header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: .5rem 1rem;
  color: #fff;
  text-shadow: 2px 2px 2px #3636364b;
}

.logo {
  font-weight: bold;
  font-size: 1.5rem;
}

.site-header {
  background: transparent;
  transition: all 0.3s;
}

body.scrolled .site-header {
  backdrop-filter: blur(15px);
  background-image: linear-gradient(#d4d4d43a, #94949442);
  border-bottom: 2px solid #fff;
}

body.scrolled.dark .site-header {
  backdrop-filter: blur(15px);
  background-image: linear-gradient(#0000003a, #00000042);
  border-bottom: 2px solid #fff;
}

.site-header {
  position: fixed;
  top: 0;
  width: 100%;
  transition: transform 0.3s ease;
}

.site-header.hide {
  transform: translateY(-100%);
}

.site-header.show {
  transform: translateY(0);
}

/* --- MOBILE  --- */

.menu {
  position: fixed;
  top: 0%;
  right: -100%;
  width: 70%;
  height: 100vh;
  background: var(--corFundo);
  display: flex;
  flex-direction: column;
  padding-top: 5rem;
  transition: right 0.3s ease-in-out;
  box-shadow: -5px 0 15px #0000003d;
}

.site-header.open .menu {
  right: 0;
  color: #2d2d2d;
}

.dark .site-header.open .menu {
  color: inherit;
}

.nav {
  padding: 1em;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 2rem;
}

.nav a {
  position: relative;
  text-decoration: none;
  color: var(--corTexto);
  font-size: 1.2rem;
  font-weight: 500;
  border-bottom: 1px solid #ffffff57;
}

.nav a::before {
  content: "";
  position: absolute;
  top: 100%;
  display: grid;
  width: 0%;
  height: 3px;
  background-image: linear-gradient(90deg ,var(--corTema), transparent);
  transition: all ease-out .3s;
}

.nav a:hover::before {
  width: 110%;
}

.header-actions {
  display: flex;
  align-items: center;
  gap: 1rem;
  z-index: 1001;
}

button {
  cursor: pointer;
  border: none;
  background: none;
  color: var(--corTexto);
}

.menu-toggle {
  font-size: 1.8rem;
}

.mobile-theme-btn {
  font-size: 1.2rem;
  margin-top: 1rem;
}



.desktop-theme-btn {
  display: none;
}

.theme-toggle:hover,.menu-toggle:hover{
  color: var(--corTema);
}

/* --- DESKTOP --- */
@media (min-width: 768px) {

  .menu-toggle {
    display: none;
  }

  /*Menu vira barra horizontal */
  .menu {
    position: static;
    width: auto;
    height: auto;
    background: transparent;
    padding: 0;
    box-shadow: none;
    flex-direction: row;
  }

  .nav {
    flex-direction: row;
    gap: 1.5rem;
  }

  .nav a {
    border: none;
  }

  .mobile-theme-btn {
    display: none;
  }

  .desktop-theme-btn {
    display: block;
    font-size: 1.5rem;
  }

  .site-header .overlay {
    all: unset;
  }

  .site-header.open .menu {
    color: inherit;
  }

}