.gsap-marquee-container{
    overflow: hidden;
   padding-block: 3rem;
}

.gsap-marquee {
    width: 100%;
    background-color: var(--corCard);
    background-image: linear-gradient(45deg,var(--corFundo2),var(--corFundo),var(--corFundo2));
    box-shadow: 5px 5px 10px #0000002d, inset 0px 2px 5px #ffffff28;
     transform: rotate(-2deg);
    padding: 1em;
    z-index: 1;
}


.gsap-marquee div {
    display: flex;
    list-style: none;
    justify-content: space-around;
    gap: 10px;
    width: 200dvw;
    flex-wrap: nowrap;
    font-size: 1.2rem;
    width: 200%;
    will-change: transform;
    color: #303030;
}

.dark .gsap-marquee div {
    color: #fff;
}

.gsap-marquee div span{
    text-wrap: nowrap;
}