.trajectory-section h2 {
    font-family: var(--fontTitulo);
    font-size: clamp(2rem, 3.5vw, 5rem);
    text-align: center;
}


.trajectory-container {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 1em;
}

.timeline-central-line {
    content: "";

    display: block;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%) scaleY(0);
    transform-origin: top;

    width: 5px;
    height: 100%;
    background-image: linear-gradient(transparent,#9025CB, #F350C2, #9025CB,transparent);
    z-index: -1;
}