#experienceSection {
    padding: 2em;
}

#experienceSection h2 {
    position: absolute;
    top: 0;
    left: 0;
    font-family: var(--fontTitulo);
    font-size: clamp(2rem, 3.5vw, 5rem);
    background-color: var(--corFundo);
    width: fit-content;
    padding: 20px;
    border-radius: 0 0 20px 0;
    box-shadow: 5px 5px 5px #00000036;
}

.dark #experienceSection h2 {
    background-color: var(--corFundoDark);
}

#experienceSection h2::before,
#experienceSection h2::after {
    content: "";
    position: absolute;

    width: 20px;
    height: 20px;

    background-image: radial-gradient(circle at 100% 100%, transparent 20px, var(--corFundo) 21px);
}

#experienceSection h2::before {
    left: 0%;
    top: 100%;
}

#experienceSection h2::after {
    left: 100%;
    top: 0%;
}

.dark #experienceSection h2::before,
.dark #experienceSection h2::after {
    background-image: radial-gradient(circle at 100% 100%, transparent 20px, var(--corFundoDark) 21px);
}

.trajectory-container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 2em;
    min-height: 100vh;
    padding: 2em;
    box-shadow: inset 5px 5px 10px #00000036;
    overflow: hidden;

    padding-top: clamp(5rem, 10vw, 15rem);
    background-image: var(--noise), linear-gradient(#cbcfd4, #ffffff);
    border-radius: 15px;
}

.dark .trajectory-container {
    background-image: var(--noise), linear-gradient(#000000, #2d2d2d);
}

.linha-vetorial svg {
    position: absolute;
    width: 100%;
    top: 20px;
    left: 0;
    height: 100%;
    height: auto;
    display: block;
    z-index: 0;
}

.linha-vetorial svg path {
    stroke: rgb(255, 255, 255);
}

.dark .linha-vetorial svg path {
    stroke: rgb(0, 0, 0);
}

@media (max-width: 768px) {
  .linha-vetorial {
    display: none;
  }
}
