#experienceSection {
    padding: 2vw;
}

#experienceSection h2 {
    position: absolute;
    top: 0;
    left: 0;
    font-family: var(--fontTitulo);
    font-size: clamp(2rem, 3.5vw, 5rem);
    background-color: #fff;
    width: fit-content;
    padding: 0 15px 15px 15px;
    border-radius: 0 0 20px 0;
    box-shadow: 5px 5px 5px #00000036;
}

.dark #experienceSection h2 {
    background-color: #000;
}

#experienceSection h2::before,
#experienceSection h2::after {
    content: "";
    position: absolute;

    width: 15px;
    height: 15px;

    background-image: radial-gradient(circle at 100% 100%, transparent 15px, #fff 16px);
}

#experienceSection h2::before {
    left: 0%;
    top: 100%;
}

#experienceSection h2::after {
    left: 100%;
    top: 0%;
}

.dark #experienceSection h2::before,
.dark #experienceSection h2::after {
    background-image: radial-gradient(circle at 100% 100%, transparent 15px, #000 16px);
}

.trajectory-container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 2em;
    padding: 1em ;
    box-shadow: inset 5px 5px 10px #00000036;
    overflow: hidden;

    padding-top: clamp(5rem, 10vw, 15rem);
    border: 15px solid #fff;
    background-image: var(--noise), linear-gradient(#cbcfd4, #ffffff);
    border-radius: 15px;
}

.dark .trajectory-container {
    border: 15px solid #000000;
    background-image: var(--noise), linear-gradient(#000000, #2d2d2d);
}

.linha-vetorial {
    position: absolute;
    inset: 0;
    z-index: 0;
    pointer-events: none;
}


.linha-vetorial svg {
    width: 100%;
    height: 100%;
    max-height: 100%;
    display: block;
}

.linha-vetorial svg path {
    stroke: var(--corTema);
}

.linha-vetorial path {
    vector-effect: non-scaling-stroke;
}


@media (max-width: 768px) {
    .linha-vetorial path {
        stroke-width: 28;
    }
}
