.trajectory-section {
    min-height: 100dvh;
    padding: 1em;
    background-color: var(--corFundo2);
}

.trajectory-container {
    position: relative;
    display: flex;
    flex-direction: column;
    width: fit-content;
}

.timeline-central-line {
    content: "";

    display: block;
    position: absolute;
    top: 0;
    left: 0;
    transform-origin: top;
    transform: translateX(-50%) scaleY(0);

    width: 5px;
    height: 100%;
    --corTema50 :  color-mix(in srgb, var(--corTema) 70%, transparent);
    background-image: linear-gradient(transparent,var(--corTema50), var(--corTema),var(--corTema50), transparent);
    z-index: 0;
}

@media (min-width: 1600px) {
    .timeline-central-line {
        left: 50%;
    }
}