@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Orbitron:wght@400..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --corFundo: #e0e0e0;
  --corCard: #f5f5f5;

  --corFundoDark: #2d2d2d;
  --corCardDark: #1d1d1d;

  --corTema: #FC0200;
  --corTemaDark: #9286fc;

  --fontTitulo: 'Orbitron', serif;
  --fontPadrao: 'Montserrat', sans-serif;
}

::selection {
  background-color: var(--corTema);
  color: #fff;
}

body {
  font-family: var(--fontPadrao);
  background-color: var(--corFundo);
  transition: .5s;
}

body.dark {
  background-color: var(--corFundoDark);
  color: #fff;
}

.silver-reflection-bg {
  background-color: #ffffff;
  background-image: linear-gradient(-45deg, #eee, #919191, #eee);
  background-size: 300%;
  transition: .5s;
}

.silver-reflection-bg:hover {
  background-position: -100%;
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-50%);
  }
}