@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Orbitron:wght@400..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --corFundo: #e0e0e0;
  --corCard: #f5f5f5;

  --corFundoDark: #07090E;
  --corCardDark: #1f1b24;

  --corTema: #7460e7;
  --corTemaDark: #9286fc;

  --fontTitulo: 'Orbitron', serif;
  --fontPadrao: 'Montserrat', sans-serif;
}

body {
  font-family: var(--fontPadrao);
  background-color: var(--corFundo);

}
